USE [master]
GO
/****** Object:  Database [proje_odevi]    Script Date: 10.05.2023 18:19:41 ******/
CREATE DATABASE [proje_odevi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proje_odevi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\proje_odevi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proje_odevi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\proje_odevi_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proje_odevi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proje_odevi]
GO
/****** Object:  Table [dbo].[cinsiyet]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinsiyet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nchar](10) NOT NULL,
 CONSTRAINT [PK_cinsiyet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_kategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
	[soyadi] [nvarchar](50) NOT NULL,
	[telno] [varchar](10) NOT NULL,
	[email] [nvarchar](50) NULL,
	[adres] [nvarchar](max) NULL,
	[cinsiyetID] [int] NULL,
 CONSTRAINT [PK_musteri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
	[soyadi] [nvarchar](50) NOT NULL,
	[telno] [varchar](10) NOT NULL,
	[adres] [nvarchar](max) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[cinsiyetID] [int] NOT NULL,
	[hizmet_alaniID] [int] NULL,
 CONSTRAINT [PK_personel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel_hizmet_alani]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel_hizmet_alani](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[hizmet_alani] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_personel_hizmet_alani] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel_satis]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel_satis](
	[personelID] [int] NOT NULL,
	[satisID] [int] NOT NULL,
 CONSTRAINT [PK_personel_satis] PRIMARY KEY CLUSTERED 
(
	[personelID] ASC,
	[satisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satis]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[musteriID] [int] NOT NULL,
	[tarih] [datetime] NOT NULL,
	[tutar] [money] NOT NULL,
 CONSTRAINT [PK_satis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satis_detay]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis_detay](
	[satisID] [int] IDENTITY(1,1) NOT NULL,
	[urunID] [int] NOT NULL,
	[miktar] [tinyint] NOT NULL,
	[birim_fiyat] [money] NOT NULL,
	[toplam_fiyat] [money] NOT NULL,
	[musteriID] [int] NOT NULL,
	[personelID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 10.05.2023 18:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nchar](10) NOT NULL,
	[kategoriID] [int] NOT NULL,
	[fiyat] [smallmoney] NOT NULL,
	[stok] [int] NOT NULL,
	[cinsiyetID] [int] NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[urun_resmi] [image] NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cinsiyet] ON 

INSERT [dbo].[cinsiyet] ([ID], [ad]) VALUES (1, N'Kadın     ')
INSERT [dbo].[cinsiyet] ([ID], [ad]) VALUES (2, N'Erkek     ')
INSERT [dbo].[cinsiyet] ([ID], [ad]) VALUES (3, N'Unisex    ')
SET IDENTITY_INSERT [dbo].[cinsiyet] OFF
GO
SET IDENTITY_INSERT [dbo].[kategori] ON 

INSERT [dbo].[kategori] ([ID], [adi]) VALUES (1, N'jean')
INSERT [dbo].[kategori] ([ID], [adi]) VALUES (2, N'pantolon')
INSERT [dbo].[kategori] ([ID], [adi]) VALUES (3, N'tişört')
SET IDENTITY_INSERT [dbo].[kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[personel] ON 

INSERT [dbo].[personel] ([ID], [adi], [soyadi], [telno], [adres], [email], [cinsiyetID], [hizmet_alaniID]) VALUES (1, N'Selin ', N'Aydın', N'5522266226', N'Beşiktaş, Yıldız Mahallesi, Balmumcu Caddesi, No: 25', N'selinaydin@gmail.com', 1, NULL)
INSERT [dbo].[personel] ([ID], [adi], [soyadi], [telno], [adres], [email], [cinsiyetID], [hizmet_alaniID]) VALUES (2, N'Eren ', N'Aksoy', N'5546287859', N'Kadıköy, Moda Mahallesi, Moda Caddesi, No: 46/1', N'erenaksoyy@gmail.com', 2, NULL)
INSERT [dbo].[personel] ([ID], [adi], [soyadi], [telno], [adres], [email], [cinsiyetID], [hizmet_alaniID]) VALUES (3, N'Deniz', N'Yıldırım', N'5034138945', N'Şişli, Harbiye Mahallesi, Cumhuriyet Caddesi, No: 123', N'denizzyldrm@gmail.com', 2, NULL)
SET IDENTITY_INSERT [dbo].[personel] OFF
GO
SET IDENTITY_INSERT [dbo].[personel_hizmet_alani] ON 

INSERT [dbo].[personel_hizmet_alani] ([ID], [hizmet_alani]) VALUES (1, N'1. Mağaza Müdürü')
INSERT [dbo].[personel_hizmet_alani] ([ID], [hizmet_alani]) VALUES (2, N'2. Mağaza Müdürü')
INSERT [dbo].[personel_hizmet_alani] ([ID], [hizmet_alani]) VALUES (3, N'Müdür Yardımcısı')
SET IDENTITY_INSERT [dbo].[personel_hizmet_alani] OFF
GO
SET IDENTITY_INSERT [dbo].[urunler] ON 

INSERT [dbo].[urunler] ([ID], [adi], [kategoriID], [fiyat], [stok], [cinsiyetID], [aciklama], [urun_resmi]) VALUES (3, N'tisort    ', 3, 299.0000, 50, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[urunler] OFF
GO
ALTER TABLE [dbo].[satis] ADD  CONSTRAINT [DF_satis_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[musteri]  WITH CHECK ADD  CONSTRAINT [FK_musteri_cinsiyet] FOREIGN KEY([cinsiyetID])
REFERENCES [dbo].[cinsiyet] ([ID])
GO
ALTER TABLE [dbo].[musteri] CHECK CONSTRAINT [FK_musteri_cinsiyet]
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD  CONSTRAINT [FK_personel_cinsiyet] FOREIGN KEY([cinsiyetID])
REFERENCES [dbo].[cinsiyet] ([ID])
GO
ALTER TABLE [dbo].[personel] CHECK CONSTRAINT [FK_personel_cinsiyet]
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD  CONSTRAINT [FK_personel_personel_hizmet_alani] FOREIGN KEY([hizmet_alaniID])
REFERENCES [dbo].[personel_hizmet_alani] ([ID])
GO
ALTER TABLE [dbo].[personel] CHECK CONSTRAINT [FK_personel_personel_hizmet_alani]
GO
ALTER TABLE [dbo].[personel_satis]  WITH CHECK ADD  CONSTRAINT [FK_personel_satis_personel] FOREIGN KEY([personelID])
REFERENCES [dbo].[personel] ([ID])
GO
ALTER TABLE [dbo].[personel_satis] CHECK CONSTRAINT [FK_personel_satis_personel]
GO
ALTER TABLE [dbo].[personel_satis]  WITH CHECK ADD  CONSTRAINT [FK_personel_satis_satis] FOREIGN KEY([satisID])
REFERENCES [dbo].[satis] ([ID])
GO
ALTER TABLE [dbo].[personel_satis] CHECK CONSTRAINT [FK_personel_satis_satis]
GO
ALTER TABLE [dbo].[satis]  WITH CHECK ADD  CONSTRAINT [FK_satis_musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[musteri] ([ID])
GO
ALTER TABLE [dbo].[satis] CHECK CONSTRAINT [FK_satis_musteri]
GO
ALTER TABLE [dbo].[satis_detay]  WITH CHECK ADD  CONSTRAINT [FK_satis_detay_musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[musteri] ([ID])
GO
ALTER TABLE [dbo].[satis_detay] CHECK CONSTRAINT [FK_satis_detay_musteri]
GO
ALTER TABLE [dbo].[satis_detay]  WITH CHECK ADD  CONSTRAINT [FK_satis_detay_personel] FOREIGN KEY([personelID])
REFERENCES [dbo].[personel] ([ID])
GO
ALTER TABLE [dbo].[satis_detay] CHECK CONSTRAINT [FK_satis_detay_personel]
GO
ALTER TABLE [dbo].[satis_detay]  WITH CHECK ADD  CONSTRAINT [FK_satis_detay_satis] FOREIGN KEY([satisID])
REFERENCES [dbo].[satis] ([ID])
GO
ALTER TABLE [dbo].[satis_detay] CHECK CONSTRAINT [FK_satis_detay_satis]
GO
ALTER TABLE [dbo].[satis_detay]  WITH CHECK ADD  CONSTRAINT [FK_satis_detay_urunler] FOREIGN KEY([urunID])
REFERENCES [dbo].[urunler] ([ID])
GO
ALTER TABLE [dbo].[satis_detay] CHECK CONSTRAINT [FK_satis_detay_urunler]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_cinsiyet] FOREIGN KEY([cinsiyetID])
REFERENCES [dbo].[cinsiyet] ([ID])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_cinsiyet]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_kategori] FOREIGN KEY([kategoriID])
REFERENCES [dbo].[kategori] ([ID])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_kategori]
GO
USE [master]
GO
